@inherits LayoutComponentBase

<PageTitle>Ground Rent Portal</PageTitle>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
	<MudAppBar>
		Ground Rent Portal
	</MudAppBar>
	<MudDrawer Open="true">
		<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
			<span class="oi oi-home" aria-hidden="true"></span> Home
		</NavLink>
		<NavLink class="nav-link" href="processAddress">
			<span class="oi oi-home" aria-hidden="true"></span> Process Address
		</NavLink>
	</MudDrawer>
	<MudMainContent>
		<LoginDisplay />
		@Body
	</MudMainContent>
</MudLayout>
