@inherits LayoutComponentBase

<PageTitle>Ground Rent Portal</PageTitle>
<MudThemeProvider @bind-IsDarkMode="_isDarkMode" Theme="MainTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
	<MudAppBar Color="Color.Primary">
		<MudText Typo="Typo.h5">Ground Rent Portal</MudText>
		<div class="theme-container">
			<MudText Typo="Typo.body2">Dark Mode:</MudText>
			<MudSwitch @bind-Checked="_isDarkMode" Color="Color.Primary" />
		</div>
	</MudAppBar>
	<MudDrawer Open="true">
		<MudLink Class="nav-link" Href="">
			Home
		</MudLink>
		<MudLink Class="nav-link" Href="processAddress">
			Process Address
		</MudLink>
	</MudDrawer>
	<MudMainContent>
		<LoginDisplay />
		@Body
	</MudMainContent>
</MudLayout>

@code {
	private bool _isDarkMode;
	private MudThemeProvider? _mudThemeProvider;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender && _mudThemeProvider is not null)
		{
			_isDarkMode = await _mudThemeProvider.GetSystemPreference();
			StateHasChanged();
		}
	}

	MudTheme MainTheme = new MudTheme()
		{
			Palette = new Palette()
			{
				Primary = "#be894a",
				Secondary = "#4d4d4d",
			},
			PaletteDark = new PaletteDark()
			{
				Primary = "#4d4d4d",
				Secondary = "#000000",
			}, 
			LayoutProperties = new LayoutProperties()
			{
				DrawerWidthLeft = "260px",
				DrawerWidthRight = "300px"
			}
		};
}