@namespace UI.Shared

<MudDrawer Open="IsDrawerOpen" @ontouchend="() => IsDrawerOpen = !IsDrawerOpen">
	<div class="navigation-container">
		<LoginDisplay />
		<MudText Class="ml-2" Typo="Typo.body2">Dark Theme:</MudText>
		<MudSwitch Class="ml-2" CheckedChanged="OnIsDarkTheme" Color="Color.Secondary" Disabled="IsDarkThemeDisabled" />
		<MudText Class="ml-2" Typo="Typo.body2">Mid-Theme:</MudText>
		<MudSwitch Class="ml-2" CheckedChanged="OnMudThemeChanged" Color="Color.Secondary" Disabled="IsMidThemeDisabled" />
		<MudButton Class="ml-2" StartIcon="@Icons.Filled.Home" Color="Color.Primary" Href="/">Home</MudButton>
		<MudButton Class="ml-2" StartIcon="@Icons.Filled.LocationOn" Color="Color.Primary" Href="processaddress">Process Address</MudButton>
	</div>
</MudDrawer>

@code {
	[Parameter]
	public bool IsDrawerOpen { get; set; }
	[Parameter]
	public EventCallback<bool> OnIsDarkTheme { get; set; }
	[Parameter]
	public EventCallback<bool> OnMudThemeChanged { get; set; }
	[Parameter]
	public bool IsDarkThemeDisabled { get; set; }
	[Parameter]
	public bool IsMidThemeDisabled { get; set; }
}
