@using DataLibrary.DbAccess
@using DataLibrary.DbServices
@using DataLibrary.Models
@using DataLibrary.Services;
@using UI.Pages.ProcessAddressComponents
@inject IDataContext dataContext
@inject IGroundRentPortalDataServiceFactory testDataServiceFactory
@inject Scraper scraper
@inject ILogger<ProcessAddress> logger
@inject ISnackbar snackbarNotification
@attribute [Authorize]
@page "/processaddress"
@namespace UI.Pages

@if (userState is not null && addressesLoaded)
{
	<div class="container">
		<div hidden="@addressSubmitted">
			<MudText Class="mt-2" Typo="Typo.h4">Process Address</MudText>
			<EditForm Model="AddressToBeInputModel" OnValidSubmit="HandleOnSubmit" OnInvalidSubmit="HandleInvalidSubmit">
				<DataAnnotationsValidator />
				<MudText Color="Color.Primary">Addresses successfully loaded.</MudText>
				<MudText Class="mt-2">@userState.User.Identity?.Name is currently processing address id: @AddressToBeInputModel?.AccountId</MudText>
				<MudText Class="mt-2">You have processed @counter addresses out of @AddressList.Count this session.</MudText>
				<CascadingValue Value="AddressToBeInputModel">
					<PaymentAmountField />
					<PaymentFrequencyField OnPaymentFrequencyChanged="UpdatePaymentFrequency" />
					<DataLegibleRadio />
				</CascadingValue>
				<CascadingValue Value="this">
					<SubmitButton />
				</CascadingValue>
				@if (isValidationSuccessful)
				{
					snackbarNotification.Add("Submission successful!", Severity.Success);
					<MudText Color="Color.Success" Typo="Typo.caption">Form submission successful!</MudText>
				}
				<MudText Color="Color.Error" Typo="Typo.body2">
					<ValidationSummary />
				</MudText>
			</EditForm>
		</div>
	</div>
}
else
{
	<MudText Color="Color.Error">You are not authorized. Please log in or contact your manager.</MudText>
}

@code {
	[CascadingParameter]
	private Task<AuthenticationState>? authenticationState { get; set; }
	private AddressModel addressToDbModel = new();
	private AddressModel originalProcessedAddress = new();
	private ValidationMessageStore? validationMessageStore;
	private bool isValidationSuccessful { get; set; }
	private AuthenticationState? userState;
	public AddressModel? AddressToBeInputModel { get; set; }
	public AddressModel? OriginalAddressModel { get; set; }
	private List<AddressModel> UnprocessedAddressList = new();
	private List<AddressModel> UnverifiedAddressList = new();
	private List<AddressModel> AddressList = new();
	public EventCallback AddressProcessed { get; set; }
	private int UnprocessedAddressListAmount { get; set; } = 100;
	private int UnverifiedAddressListAmount = default;
	private bool addressesLoaded { get; set; } = false;
	private bool addressSubmitted { get; set; } = false;
	public bool IsSubmitting { get; set; } = false;
	private bool dataServiceResult { get; set; }
	private int counter = 0;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			AddressToBeInputModel = new();

			if (authenticationState is not null)
			{
				userState = await authenticationState;
			}

			await LoadAddressList();
			AddressToBeInputModel = AddressList[0];
			OriginalAddressModel = await LoadOriginalProcessedAddress(AddressList[0].AccountId);
			//await scraper.Scrape(AddressList[0]);
			addressesLoaded = true;
			await InvokeAsync(StateHasChanged);
		}
		catch (Exception ex)
		{
			logger.LogError($"Exception thrown during initilaztion {ex.Message}");
		}
	}

	//protected override async Task OnAfterRenderAsync(bool firstRender)
	//{
	//	if (!firstRender)
	//	{
	//		AddressToBeInputModel = AddressList[counter];
	//		OriginalAddressModel = await LoadOriginalProcessedAddress(AddressList[counter].AccountId);
	//		await InvokeAsync(StateHasChanged);
	//	}
	//	await base.OnAfterRenderAsync(firstRender);
	//}

	private void LogBackEndData()
	{
		if (addressToDbModel?.IsProcessed is null)
		{
			logger.LogInformation("Form submit succesful! IsProcessed Status is NULL");
		}
		else
		{
			logger.LogInformation("Form submit succesful! IsProcessed Status has returned successfully");
		}

		if (addressToDbModel?.IsLegible is true)
		{
			logger.LogInformation("IsLegible is true");
		}
		else
		{
			logger.LogInformation("IsLegible is false");
		}

		if (addressToDbModel?.NotLegibleType is not null)
		{
			logger.LogInformation($"NotLegibleType returned {addressToDbModel?.NotLegibleType.Value}");
		}else
		{
			logger.LogInformation($"NotLegibleType is NULL");
		}

		switch (AddressToBeInputModel?.GroundRentPaymentFrequency)
		{
			case AddressModel.PaymentFrequency.Annual:
				logger.LogInformation($"Payment Date Annual submitted to Db as {AddressToBeInputModel?.PaymentDateAnnual}");
				break;
			case AddressModel.PaymentFrequency.SemiAnnual:
				logger.LogInformation($"Payment Date Semi-Annual 1 submitted to Db as {AddressToBeInputModel?.PaymentDateSemiAnnual1}");
				logger.LogInformation($"Payment Date Semi-Annual 2 submitted to Db as {AddressToBeInputModel?.PaymentDateSemiAnnual2}");
				break;
			case AddressModel.PaymentFrequency.Quarterly:
				logger.LogInformation($"Payment Date Quarterly 1 submitted to Db as {AddressToBeInputModel?.PaymentDateQuarterly1}");
				logger.LogInformation($"Payment Date Quarterly 2 submitted to Db as {AddressToBeInputModel?.PaymentDateQuarterly2}");
				logger.LogInformation($"Payment Date Quarterly 3 submitted to Db as {AddressToBeInputModel?.PaymentDateQuarterly3}");
				logger.LogInformation($"Payment Date Quarterly 4 submitted to Db as {AddressToBeInputModel?.PaymentDateQuarterly4}");
				break;
			case AddressModel.PaymentFrequency.Other:
				logger.LogInformation($"Payment Frequency other submitted to Db as {AddressToBeInputModel?.PaymentDateOther}");
				break;
			case AddressModel.PaymentFrequency.Blank:
				logger.LogInformation("Payment Frequency is blank");
				break;
		}
	}

	private void CalculateListAmounts()
	{
		double percentage = UnprocessedAddressListAmount * 0.1;
		UnverifiedAddressListAmount = (int)Math.Round(percentage, MidpointRounding.AwayFromZero);
	}

	private async Task LoadAddressList()
	{
		addressesLoaded = false;
		AddressList = new();
		UnprocessedAddressList = await LoadUnprocessedAddresses();
		UnverifiedAddressList = await LoadUnverifiedAddresses();
		AddressList.AddRange(UnprocessedAddressList);
		AddressList.AddRange(UnverifiedAddressList);
		UnprocessedAddressList = new();
		UnverifiedAddressList = new();
	}

	private async Task<List<AddressModel>> LoadUnprocessedAddresses()
	{
		using (var uow = dataContext.CreateUnitOfWork())
		{
			var testDataService = testDataServiceFactory.CreateAddressDataService(uow);
			UnprocessedAddressList = await testDataService.ReadByCountyWhereIsLegibleTrueAndIsProcessedFalse(UnprocessedAddressListAmount, "BaltimoreCity");
		}
		return UnprocessedAddressList;
	}

	private async Task<List<AddressModel>> LoadUnverifiedAddresses()
	{
		CalculateListAmounts();
		using (var uow = dataContext.CreateUnitOfWork())
		{
			var testDataService = testDataServiceFactory.CreateAddressDataService(uow);
			UnverifiedAddressList = await testDataService.ReadByVerificationPercentageWhereIsLegibleTrueAndIsProcessedTrue(UnverifiedAddressListAmount);
		}
		return UnverifiedAddressList;
	}

	private async Task<AddressModel> LoadOriginalProcessedAddress(string accountId)
	{
		using (var uow = dataContext.CreateUnitOfWork())
		{
			var testDataService = testDataServiceFactory.CreateAddressDataService(uow);
			OriginalAddressModel = await testDataService.ReadByAccountId(accountId);
		}
		return OriginalAddressModel;
	}
	private void HandleInvalidSubmit() => isValidationSuccessful = false;

	private void UpdatePaymentFrequency(AddressModel.PaymentFrequency paymentFrequency)
	{
		if(AddressToBeInputModel is not null)
		{
			AddressToBeInputModel.GroundRentPaymentFrequency = paymentFrequency;
		}		

		if (AddressToBeInputModel?.GroundRentPaymentFrequency == AddressModel.PaymentFrequency.Annual)
		{
			AddressToBeInputModel.PaymentDateSemiAnnual1 = null;
			AddressToBeInputModel.PaymentDateSemiAnnual2 = null;
			AddressToBeInputModel.PaymentDateQuarterly1 = null;
			AddressToBeInputModel.PaymentDateQuarterly2 = null;
			AddressToBeInputModel.PaymentDateQuarterly3 = null;
			AddressToBeInputModel.PaymentDateQuarterly4 = null;
			AddressToBeInputModel.PaymentDateOther = null;
		}
		else if (AddressToBeInputModel?.GroundRentPaymentFrequency == AddressModel.PaymentFrequency.SemiAnnual)
		{
			AddressToBeInputModel.PaymentDateAnnual = null;
			AddressToBeInputModel.PaymentDateQuarterly1 = null;
			AddressToBeInputModel.PaymentDateQuarterly2 = null;
			AddressToBeInputModel.PaymentDateQuarterly3 = null;
			AddressToBeInputModel.PaymentDateQuarterly4 = null;
			AddressToBeInputModel.PaymentDateOther = null;
		}
		else if (AddressToBeInputModel?.GroundRentPaymentFrequency == AddressModel.PaymentFrequency.Quarterly)
		{
			AddressToBeInputModel.PaymentDateAnnual = null;
			AddressToBeInputModel.PaymentDateSemiAnnual1 = null;
			AddressToBeInputModel.PaymentDateSemiAnnual2 = null;
			AddressToBeInputModel.PaymentDateOther = null;
		}
		else if (AddressToBeInputModel?.GroundRentPaymentFrequency == AddressModel.PaymentFrequency.Other)
		{
			AddressToBeInputModel.PaymentDateAnnual = null;
			AddressToBeInputModel.PaymentDateSemiAnnual1 = null;
			AddressToBeInputModel.PaymentDateSemiAnnual2 = null;
			AddressToBeInputModel.PaymentDateQuarterly1 = null;
			AddressToBeInputModel.PaymentDateQuarterly2 = null;
			AddressToBeInputModel.PaymentDateQuarterly3 = null;
			AddressToBeInputModel.PaymentDateQuarterly4 = null;
		}

	}

	private async Task HandleOnSubmit()
	{
		if (IsSubmitting)
		{
			return;
		}

		isValidationSuccessful = true;
		IsSubmitting = true;
		string differencesNotesToDb = "";
		// If address has already been processed, it will now be verified
		if (AddressToBeInputModel?.IsProcessed is true)
		{
			addressToDbModel.AccountId = AddressToBeInputModel.AccountId;
			addressToDbModel.IsProcessed = AddressToBeInputModel.IsProcessed;
			addressToDbModel.IsVerified = true;
			addressToDbModel.UserWhoProcessed = AddressToBeInputModel.UserWhoProcessed;
			addressToDbModel.UserWhoVerified = userState?.User.Identity?.Name;
			addressToDbModel.PaymentAmount = AddressToBeInputModel.PaymentAmount;
			addressToDbModel.GroundRentPaymentFrequency = AddressToBeInputModel.GroundRentPaymentFrequency;
			addressToDbModel.PaymentDateAnnual = AddressToBeInputModel.PaymentDateAnnual;
			addressToDbModel.PaymentDateSemiAnnual1 = AddressToBeInputModel.PaymentDateSemiAnnual1;
			addressToDbModel.PaymentDateSemiAnnual2 = AddressToBeInputModel.PaymentDateSemiAnnual2;
			addressToDbModel.PaymentDateQuarterly1 = AddressToBeInputModel.PaymentDateQuarterly1;
			addressToDbModel.PaymentDateQuarterly2 = AddressToBeInputModel.PaymentDateQuarterly2;
			addressToDbModel.PaymentDateQuarterly3 = AddressToBeInputModel.PaymentDateQuarterly3;
			addressToDbModel.PaymentDateQuarterly4 = AddressToBeInputModel.PaymentDateQuarterly4;
			addressToDbModel.PaymentDateOther = AddressToBeInputModel.PaymentDateOther;
			addressToDbModel.IsLegible = AddressToBeInputModel.IsLegible;

			if (AddressToBeInputModel is not null && addressToDbModel.IsLegible is false)
			{
				addressToDbModel.NotLegibleType = null;
				addressToDbModel.NotVerifiedType = null;
			}

			if (OriginalAddressModel?.GroundRentPaymentFrequency != addressToDbModel.GroundRentPaymentFrequency)
			{
				addressToDbModel.IsVerified = false;
				addressToDbModel.GroundRentPaymentFrequency = AddressModel.PaymentFrequency.Blank;
			}
			if (OriginalAddressModel?.GroundRentPaymentFrequency == AddressModel.PaymentFrequency.Annual)
			{
				differencesNotesToDb += $"{addressToDbModel.UserWhoProcessed} input Payment Frequency Annual Date as {OriginalAddressModel.PaymentDateAnnual}. {addressToDbModel.UserWhoVerified} input Payment Frequency Annual Date as {addressToDbModel.PaymentDateAnnual}." + Environment.NewLine;
			}
			if (OriginalAddressModel?.PaymentDateSemiAnnual1 != addressToDbModel.PaymentDateSemiAnnual1)
			{
				differencesNotesToDb += $"{addressToDbModel.UserWhoProcessed} input Payment Frequency Semi-Annual1 Date as {OriginalAddressModel?.PaymentDateSemiAnnual1}. {addressToDbModel.UserWhoVerified} input Payment Frequency Semi-Annual1 Date as {addressToDbModel.PaymentDateSemiAnnual1}." + Environment.NewLine;
			}
			if (OriginalAddressModel?.PaymentDateSemiAnnual2 != addressToDbModel.PaymentDateSemiAnnual2)
			{
				differencesNotesToDb += $"{addressToDbModel.UserWhoProcessed} input Payment Frequency Semi-Annual2 Date as {OriginalAddressModel?.PaymentDateSemiAnnual2}. {addressToDbModel.UserWhoVerified} input Payment Frequency Semi-Annual2 Date as {addressToDbModel.PaymentDateSemiAnnual2}." + Environment.NewLine;
			}
			if (OriginalAddressModel?.PaymentDateQuarterly1 != addressToDbModel.PaymentDateQuarterly1)
			{
				differencesNotesToDb += $"{addressToDbModel.UserWhoProcessed} input Payment Frequency Quarterly1 Date as {OriginalAddressModel?.PaymentDateQuarterly1}. {addressToDbModel.UserWhoVerified} input Payment Frequency Quarterly1 Date as {addressToDbModel.PaymentDateQuarterly1}." + Environment.NewLine;
			}
			if (OriginalAddressModel?.PaymentDateQuarterly2 != addressToDbModel.PaymentDateQuarterly2)
			{
				differencesNotesToDb += $"{addressToDbModel.UserWhoProcessed} input Payment Frequency Quarterly2 Date as {OriginalAddressModel?.PaymentDateQuarterly2}. {addressToDbModel.UserWhoVerified} input Payment Frequency Quarterly2 Date as {addressToDbModel.PaymentDateQuarterly2}." + Environment.NewLine;
			}
			if (OriginalAddressModel?.PaymentDateQuarterly3 != addressToDbModel.PaymentDateQuarterly3)
			{
				differencesNotesToDb += $"{addressToDbModel.UserWhoProcessed} input Payment Frequency Quarterly3 Date as {OriginalAddressModel?.PaymentDateQuarterly3}. {addressToDbModel.UserWhoVerified} input Payment Frequency Quarterly3 Date as {addressToDbModel.PaymentDateQuarterly3}." + Environment.NewLine;
			}
			if (OriginalAddressModel?.PaymentDateQuarterly4 != addressToDbModel.PaymentDateQuarterly4)
			{
				differencesNotesToDb += $"{addressToDbModel.UserWhoProcessed} input Payment Frequency Quarterly4 Date as {OriginalAddressModel?.PaymentDateQuarterly4}. {addressToDbModel.UserWhoVerified} input Payment Frequency Quarterly4 Date as {addressToDbModel.PaymentDateQuarterly4}." + Environment.NewLine;
			}
			if (OriginalAddressModel?.IsLegible != addressToDbModel.IsLegible)
			{
				addressToDbModel.IsVerified = false;
				differencesNotesToDb += $"{addressToDbModel.UserWhoProcessed} selected IsLegible as {OriginalAddressModel?.IsLegible}. {addressToDbModel.UserWhoVerified} selected IsLegible as {addressToDbModel.IsLegible}." + Environment.NewLine;
			}
			if (OriginalAddressModel?.PaymentAmount != addressToDbModel.PaymentAmount)
			{
				addressToDbModel.IsVerified = false;
				differencesNotesToDb += $"{addressToDbModel.UserWhoProcessed} input Payment Amount as {OriginalAddressModel?.PaymentAmount}. {addressToDbModel.UserWhoVerified} input Payment Amount as {addressToDbModel.PaymentAmount}." + Environment.NewLine;
			}

			addressToDbModel.DifferencesNotesToDb = differencesNotesToDb;
			using (var uow = dataContext.CreateUnitOfWork())
			{
				var testDataService = testDataServiceFactory.CreateAddressDataService(uow);
				dataServiceResult = await testDataService.Update(addressToDbModel);
			}
			if (dataServiceResult is true)
			{
				counter++;
			}
		}
		// If address has not yet been processed
		if (AddressToBeInputModel?.IsProcessed is null)
		{
			addressToDbModel.AccountId = AddressToBeInputModel?.AccountId;
			addressToDbModel.IsProcessed = true;
			addressToDbModel.UserWhoProcessed = userState?.User.Identity?.Name;
			addressToDbModel.PaymentAmount = AddressToBeInputModel?.PaymentAmount;
			if (AddressToBeInputModel?.GroundRentPaymentFrequency is not null)
			{
				addressToDbModel.GroundRentPaymentFrequency = AddressToBeInputModel.GroundRentPaymentFrequency;
			}
			addressToDbModel.PaymentDateAnnual = AddressToBeInputModel?.PaymentDateAnnual;
			addressToDbModel.PaymentDateSemiAnnual1 = AddressToBeInputModel?.PaymentDateSemiAnnual1;
			addressToDbModel.PaymentDateSemiAnnual2 = AddressToBeInputModel?.PaymentDateSemiAnnual2;
			addressToDbModel.PaymentDateQuarterly1 = AddressToBeInputModel?.PaymentDateQuarterly1;
			addressToDbModel.PaymentDateQuarterly2 = AddressToBeInputModel?.PaymentDateQuarterly2;
			addressToDbModel.PaymentDateQuarterly3 = AddressToBeInputModel?.PaymentDateQuarterly3;
			addressToDbModel.PaymentDateQuarterly4 = AddressToBeInputModel?.PaymentDateQuarterly4;
			addressToDbModel.PaymentDateOther = AddressToBeInputModel?.PaymentDateOther;
			addressToDbModel.IsLegible = AddressToBeInputModel?.IsLegible;

			if (addressToDbModel is not null && addressToDbModel.IsLegible is false)
			{
				addressToDbModel.NotLegibleType = null;
				addressToDbModel.NotVerifiedType = null;
			}

			using (var uow = dataContext.CreateUnitOfWork())
			{
				if (addressToDbModel is not null)
				{
					var testDataService = testDataServiceFactory.CreateAddressDataService(uow);
					dataServiceResult = await testDataService.Update(addressToDbModel);
				}
			}
			if (dataServiceResult is true)
			{
				counter++;
			}
		}

		LogBackEndData();
		isValidationSuccessful = false;
		IsSubmitting = false;
		await InvokeAsync(StateHasChanged);
		return;
	}
}
