@using DataLibrary.Models
@namespace UI.Pages.ProcessAddressComponents

<div class="row">
	<div class="col gy-3">
		<MudText>Is data legible?</MudText>
		@if (AddressToBeInputModel is not null)
		{
			<MudRadioGroup T="bool?" @bind-SelectedOption="AddressToBeInputModel.IsLegible" For="@(() => AddressToBeInputModel.IsLegible)" Required>
				<MudRadio Option="(bool?)true" Color="Color.Primary">Yes</MudRadio>
				<MudRadio Option="(bool?)false" Color="Color.Primary">No</MudRadio>
			</MudRadioGroup>
		}		
	</div>
</div>

@if (AddressToBeInputModel is not null && AddressToBeInputModel.IsLegible == false)
{
	<div class="row">
		<div class="col gy-3">
			<MudSelect T="AddressModel.InputType?" @bind-Value="AddressToBeInputModel.NotLegibleType" Variant="Variant.Filled"
				Label="What is illegible?" 
				Style="max-width: fit-content;">
				<MudSelectItem T="AddressModel.InputType?" Value="AddressModel.InputType.PaymentAmount">Payment Amount</MudSelectItem>
				<MudSelectItem T="AddressModel.InputType?" Value="AddressModel.InputType.PaymentFrequency">Payment Frequency</MudSelectItem>
				<MudSelectItem T="AddressModel.InputType?" Value="AddressModel.InputType.PaymentDate">Payment Date</MudSelectItem>
			</MudSelect>
		</div>
	</div>
}

@code {
	[CascadingParameter]
	public AddressModel? AddressToBeInputModel { get; set; }
}
