@using DataLibrary.Models
@namespace UI.Pages.ProcessAddressComponents

<div class="row">
	<div class="col gy-3">
		<p>Is data legible?</p>
		<MudRadioGroup @bind-SelectedOption="isLegibleRadio" @onselect="IsLegibleRadioSelect" Required>
			<MudRadio Option="IsLegibleRadio.Yes" Color="Color.Primary">Yes</MudRadio>
			<MudRadio Option="IsLegibleRadio.No" Color="Color.Primary">No</MudRadio>
		</MudRadioGroup>
	</div>
</div>

@if (AddressToBeInputModel is not null && isLegibleRadio == IsLegibleRadio.No)
{
	<div class="row">
		<div class="col gy-3">
			<MudSelect Variant="Variant.Filled" Label="What is illegible?" 
				@bind-Value="AddressToBeInputModel.NotLegibleType" Style="max-width: fit-content;">
				@foreach (AddressModel.NotLegible option in Enum.GetValues(typeof(AddressModel.NotLegible)))
				{
					<MudSelectItem Value="@option">@option</MudSelectItem>
				}
			</MudSelect>
		</div>
	</div>
}

@code {
	[Parameter]
	public AddressModel? AddressToBeInputModel { get; set; }
	[Parameter]
	public EditContext? EditContext { get; set; }
	[Parameter]
	public EventCallback AddressProcessed { get; set; }
	private enum IsLegibleRadio { Yes, No }
	private IsLegibleRadio isLegibleRadio;

	private void IsLegibleRadioSelect()
	{
		if (AddressToBeInputModel is not null && isLegibleRadio == IsLegibleRadio.Yes)
		{
			AddressToBeInputModel.IsLegible = true;
		}

		if (AddressToBeInputModel is not null && isLegibleRadio == IsLegibleRadio.No)
		{
			AddressToBeInputModel.IsLegible = false;
		}

		if (EditContext is not null)
		{
			EditContext.OnFieldChanged += EditContextAddressOnFieldChanged;
		}
	}

	private void EditContextAddressOnFieldChanged(object sender, FieldChangedEventArgs e)
	{
		AddressProcessed.InvokeAsync();
	}
}
