@using DataLibrary.Models
@namespace UI.Pages.ProcessAddressComponents

<div class="row">
	<div class="col gy-3">
		<label>Is data legible?</label>
		@if (AddressToBeInputModel is not null)
		{
			<MudRadioGroup T="bool?" @bind-SelectedOption="AddressToBeInputModel.IsLegible" Required>
				<MudRadio Option="(bool?)true" Color="Color.Primary">Yes</MudRadio>
				<MudRadio Option="(bool?)false" Color="Color.Primary">No</MudRadio>
			</MudRadioGroup>
		}		
	</div>
</div>

@if (AddressToBeInputModel is not null && AddressToBeInputModel.IsLegible == false)
{
	<div class="row">
		<div class="col gy-3">
			<MudSelect Variant="Variant.Filled" Label="What is illegible?" 
				@bind-Value="AddressToBeInputModel.NotLegibleType" Style="max-width: fit-content;">
				<MudSelectItem Value="AddressModel.InputType.PaymentAmount">Payment Amount</MudSelectItem>
				<MudSelectItem Value="AddressModel.InputType.PaymentFrequency">Payment Frequency</MudSelectItem>
				<MudSelectItem Value="AddressModel.InputType.PaymentDate">Payment Date</MudSelectItem>
			</MudSelect>
		</div>
	</div>
}

@code {
	[CascadingParameter]
	public AddressModel? AddressToBeInputModel { get; set; }
	private enum IsLegibleRadio { Yes, No }
	private IsLegibleRadio isLegibleRadio;
}
