@using DataLibrary.Models
@namespace UI.Pages.ProcessAddressComponents

@if (AddressToBeInputModel is not null && AddressToBeInputModel.GroundRentPaymentFrequency == AddressModel.PaymentFrequency.Annual)
{
	<div class="col gy-3" style="max-width: fit-content;">
		<label>Annual Date</label>
		<MudDatePicker @bind-Date="AddressToBeInputModel.PaymentDateAnnual" />
	</div>
}

@if (AddressToBeInputModel is not null && AddressToBeInputModel.GroundRentPaymentFrequency == AddressModel.PaymentFrequency.SemiAnnual)
{
	<div class="col gy-3" style="max-width: fit-content;">
		<label>Semi-Annual 1 Date</label>
		<MudDatePicker @bind-Date="AddressToBeInputModel.PaymentDateSemiAnnual1" />
	</div>
	<div class="col gy-3" style="max-width: fit-content;">
		<label>Semi-Annual 2 Date</label>
		<MudDatePicker @bind-Date="AddressToBeInputModel.PaymentDateSemiAnnual2" />
	</div>
}

@if (AddressToBeInputModel is not null && AddressToBeInputModel.GroundRentPaymentFrequency == AddressModel.PaymentFrequency.Quarterly)
{
	<div class="col gy-3" style="max-width: fit-content;">
		<label>Quarterly 1 Date</label>
		<MudDatePicker @bind-Date="AddressToBeInputModel.PaymentDateQuarterly1" />
	</div>
	<div class="col gy-3" style="max-width: fit-content;">
		<label>Quarterly 2 Date</label>
		<MudDatePicker @bind-Date="AddressToBeInputModel.PaymentDateQuarterly2" />
	</div>
	<div class="col gy-3" style="max-width: fit-content;">
		<label>Quarterly 3 Date</label>
		<MudDatePicker @bind-Date="AddressToBeInputModel.PaymentDateQuarterly3" />
	</div>
	<div class="col gy-3" style="max-width: fit-content;">
		<label>Quarterly 4 Date</label>
		<MudDatePicker @bind-Date="AddressToBeInputModel.PaymentDateQuarterly4" />
	</div>
}

@if (AddressToBeInputModel is not null && AddressToBeInputModel.GroundRentPaymentFrequency == AddressModel.PaymentFrequency.Other)
{
	<div class="col gy-3" style="max-width: fit-content;">
		<label>Other Date</label>
		<MudInputString Variant="Variant.Filled" @bind-Value="AddressToBeInputModel.PaymentDateOther" />
	</div>
}

@code {
	[Parameter]
	public AddressModel? AddressToBeInputModel { get; set; }
}
