@namespace UI.Pages.ProcessAddressComponents

<div class="col gy-3">
	<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="btn btn-primary mt-4" ButtonType="ButtonType.Submit" Disabled="@isSubmitting">Submit</MudButton>
</div>

@code {
	private bool isSubmitting { get; set; } = false;
}
