@using DataLibrary.Models;
@namespace UI.Pages.ProcessAddressComponents

<div class="col gy-3">
	<label>Payment Amount</label>
	@if (AddressToBeInputModel is not null)
	{
		<InputNumber @bind-Value="AddressToBeInputModel.PaymentAmount" class="form-control" required />
	}
</div>

@code {
	[Parameter]
	public AddressModel? AddressToBeInputModel { get; set; }
}
