@using DataLibrary.Models;
@namespace UI.Pages.ProcessAddressComponents

<div class="col gy-3">
	<label>Payment Amount</label>
	@if (AddressToBeInputModel is not null)
	{
		<MudNumericField T="decimal?" Format="C" Label="Currency Amount" HelperText="Shift + Mouse wheel increment" 
			Variant="Variant.Filled" @bind-Value="AddressToBeInputModel.PaymentAmount" Class="form-control" 
			Style="max-width: fit-content;" InvertMouseWheel="false" Required />
	}
</div>

@code {
	[Parameter]
	public AddressModel? AddressToBeInputModel { get; set; }
}
