@using DataLibrary.Models
@using System.Globalization
@namespace UI.Pages.ProcessAddressComponents

<div class="col gy-3">
    <MudText>Payment Amount</MudText>
    @if (AddressToBeInputModel is not null)
    {
        <MudTooltip Text="Enter the payment amount listed" Placement="Placement.Right">
            <MudNumericField Format="N2" Culture="@_en" Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.AttachMoney"
                         HelperText="Shift + Mouse Wheel to Increment"
                         Variant="Variant.Outlined" Placeholder="$500.00" InputMode="InputMode.numeric" @bind-Value="AddressToBeInputModel.PaymentAmount"
                         For="@(() => AddressToBeInputModel.PaymentAmount)" Min="0" Step="(decimal?)0.1"
                         Style="max-width: fit-content;" Margin="Margin.Dense" InvertMouseWheel="false" Disabled="AddressToBeInputModel.NotLegibleType == AddressModel.InputType.PaymentAmount" Required />
        </MudTooltip>
        @if (AddressToBeInputModel.NotLegibleType == AddressModel.InputType.PaymentAmount)
        {
            <MudText Color="Color.Error">Payment Amount Field is Disabled due to Not Legible value.</MudText>
        }
    }
</div>

@code {
    [CascadingParameter]
    public AddressModel? AddressToBeInputModel { get; set; }
    public CultureInfo _en = CultureInfo.GetCultureInfo("en-US");
}
