@using DataLibrary.Models
@using System.Globalization
@namespace UI.Pages.ProcessAddressComponents

<div class="col gy-3">
	<label>Payment Amount</label>
	@if (AddressToBeInputModel is not null)
	{
		<MudNumericField T="decimal?" Format="F2" Culture="CultureInfo.CurrentCulture" Label=@($"Currency Amount ${AddressToBeInputModel.PaymentAmount}")
					 HelperText="Shift + Mouse wheel increment"
					 Variant="Variant.Filled" @bind-Value="AddressToBeInputModel.PaymentAmount"
					 For="@(() => AddressToBeInputModel.PaymentAmount)" Min="0" Step="(decimal?)0.1"
					 Style="max-width: fit-content;" InvertMouseWheel="false" Required />
	}
</div>

@code {
	[Parameter]
	public AddressModel? AddressToBeInputModel { get; set; }
}
