@using DataLibrary.Models
@namespace UI.Pages.ProcessAddressComponents

<div class="col gy-3">
	@if (processAddress is not null)
	{
		<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="btn btn-primary mt-2 mb-4" 
			ButtonType="ButtonType.Submit"
			Disabled="processAddress.IsSubmitting">
			Submit
		</MudButton>
	}
</div>

@code {
	[CascadingParameter]
	private ProcessAddress? processAddress { get; set; }
}
